---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
import Monitors from "../components/Monitors.astro";
import TechStack from "../components/TechStack.astro";
import Alerts from "../components/Alerts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="">
      <section
        class="bg-gradient pt-[120px] pb-[500px] m-8 rounded-3xl mb-[200px]"
      >
        <h1
          class="text-5xl font-bold text-center max-w-[1056px] mx-auto leading-[122%] text-zinc-950"
        >
          Simple <span class="text-gradient">uptime, status pages and alerts</span> for <span class="text-gradient">small teams</span> to catch outages before users do
        </h1>

        <p class="text-xl text-center text-zinc-950 max-w-[678px] mx-auto my-6">
          Engineer-grade uptime for your stack
        </p>

        <div class="flex justify-center gap-4">
          <a
            href="/"
            class="bg-white text-[#2E007D] px-6 py-4 rounded-full hover:bg-white/80 text-lg"
          >
            Watch demo
          </a>
          <a
            href="/"
            class="bg-black text-white px-6 py-4 rounded-full hover:bg-gray-800 text-lg"
          >
            Get started
          </a>
        </div>

        <div class="flex justify-center absolute left-0 right-0">
          <div class="relative">
            <img
              src="/demo.png"
              alt="Peekaping"
              class="w-full max-w-[1056px] mx-auto"
            />
            <img
              src="/meerkat.png"
              alt="Meerkat mascot"
              class="absolute -bottom-[100px] -right-[180px] w-[400px] z-10"
            />
          </div>
        </div>
      </section>

      <Monitors />
      <Alerts />
      <TechStack />
      <Testimonials />
      <FAQ />
    </main>
    <Footer />
  </body>
</html>

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="0"
  height="0"
  style="position:absolute; overflow:hidden"
>
  <defs>
    <filter id="glass-distortion" x="0%" y="0%" width="100%" height="100%">
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.008 0.008"
        numOctaves="2"
        seed="92"
        result="noise"></feTurbulence>
      <feGaussianBlur in="noise" stdDeviation="2" result="blurred"
      ></feGaussianBlur>
      <feDisplacementMap
        in="SourceGraphic"
        in2="blurred"
        scale="12"
        xChannelSelector="R"
        yChannelSelector="G"></feDisplacementMap>
    </filter>
  </defs>
</svg>
