apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
data:
  {{- range $k, $v := .Values.config.env }}
  {{ $k }}: {{ $v | quote }}
  {{- end }}